<div class="user-edit">
  <div class="actions nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <li class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="true">Profile</li>
    <li class="nav-link" id="v-pills-password-tab" data-bs-toggle="pill" data-bs-target="#v-pills-password" type="button" role="tab" aria-controls="v-pills-password" aria-selected="false">Password</li>
  </div>
  <div class="details tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
      <div class="form-group row form-edit-user">
        <div class="col-sm-3 col-form-label">
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar, class: "profile-avatar"%>
          <% else %>
            <%= image_pack_tag 'avatar/blank.jpeg', class: "profile-avatar" %>
          <% end %>
        </div>
        <div class="col-sm-9">
          <p class="username"><%=current_user.username %></p>
          <%= link_to 'Change Profile Photo', new_user_path, class: 'change-photo', remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#change-avatar-modal' } %>
          <div class="modal fade" id="change-avatar-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Change avatar</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <%= form_with model: current_user do |f| %>
                  <div class="form-group">
                    <%= f.label :avatar, 'Upload your image' %>
                    <%= f.file_field :avatar %>
                  </div>
                  <div class="text-center">
                    <%= f.submit 'Change', class: 'btn btn-primary'%>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= form_with model: current_user, local: true, html: {class: "form-edit-user"} do |f| %>
        <div class="form-group row">
          <%= f.label :name, class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :username, class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_field :username, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :website, class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_field :website, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :bio, class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_area :bio, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :email, class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_field :email, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :phone, class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_field :phone, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :gender, class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_field :gender, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-9">
            <%= f.submit "Submit", class: 'btn btn-primary' %>
          </div>
      </div>
      <%end%>
    </div>
    <div class="tab-pane fade" id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-password-tab">
      <%= form_with model: @current_user, local: true, html: {class: "form-edit-user"}, method: "PATCH", url: user_password_path  do |f|%>
        <%= render "devise/shared/error_messages", resource: current_user %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group row">
          <%= f.label :password, "New password", class: 'col-sm-5 col-form-label'%>
          <div class="col-sm-7">
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control'%>
          </div>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
        </div>

        <div class="form-group row">
          <%= f.label :password_confirmation, "Confirm password", class: 'col-sm-5 col-form-label'%>
          <div class="col-sm-7">
            <%= f.password_field :password_confirmation, autocomplete: "new-password",  class: 'form-control'%>
          </div>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
        </div>

        <div class="col-sm-12 d-flex justify-content-center">
          <%= f.submit "Change my password", class: 'btn btn-primary'%>
        </div>
      <% end %>
  </div>
</div>
