<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar %>
        <% else %>
          <%= image_pack_tag 'avatar/blank.jpeg' %>
        <% end %> 
      </div>
    </div>
    
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= current_user.username%></h2>
        <a class="edit-profile-btn" href="<%= edit_user_path(current_user)%>">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span><%= @posts.count %></span> posts</li>
        <li><span>195</span> followers</li>
        <li><span>345</span> following</li>
      </ul>
      <h2 class="name"><%= current_user.name%></h2>
      <h2 class="bio"><%= current_user.bio%></h2>
    </div>
  </div>
</div>
<div class="profile-tabs">
  <a class="tab active" href="">
    <i class="fa fa-th"></i>
    POSTS
  </a>
  <a class="tab" href="">
    <i class="fa fa-bookmark"></i>
    SAVED
  </a>
  <a class="tab" href="">
    <i class="fa-solid fa-user"></i>
    TAGGED
  </a>
</div>
<div class="user-posts">
  <% @posts.each do |post|%>
  <a href="#">
    <div class="wrapper">
      <%=image_tag post.image %>
    </div>
  </a>
  <% end %>
</div>
