<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar %>
        <% else %>
          <%= image_pack_tag 'avatar/blank.jpeg' %>
        <% end %> 
      </div>
    </div>
    
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= @user.username%></h2>
        <% if @user.id == current_user.id %>
          <a class="edit-profile-btn" href="<%= edit_user_path(current_user)%>">
            <button>Edit Profile</button>
          </a>
        <% end %>
      </div>
      <ul class="posts">
        <li><span><%= @post.count %></span> posts</li>
        <li><span>195</span> followers</li>
        <li><span>345</span> following</li>
      </ul>
      <h2 class="name"><%= @user.name%></h2>
      <h2 class="bio"><%= @user.bio%></h2>
    </div>
  </div>
</div>
<div class="profile-tabs">
  <a class="tab active" href="">
    <i class="fa fa-th"></i>
    POSTS
  </a>
  <% if @user.id == current_user.id %>
    <a class="tab" href="">
      <i class="fa fa-bookmark"></i>
      SAVED
    </a>
    <a class="tab" href="">
      <i class="fa-solid fa-user"></i>
      TAGGED
    </a>
  <% end %>
</div>
<div class="user-posts">
  <% @post.each do |post|%>
    <%= link_to post_path(post), remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#show-post-modal' } do %>
    <div class="wrapper">
      <%=image_tag post.image %>
    </div>
    <% end %>
  <% end %>
</div>
<div class="modal fade" id="show-post-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
