<div id="frame">
	<input type="radio" name="frame" id="frame1" checked />
	<input type="radio" name="frame" id="frame2" />
	<input type="radio" name="frame" id="frame3" />
	<input type="radio" name="frame" id="frame4" />
	<div id="slides">
		<div id="overflow">
			<div class="inner">
				<div class="frame frame_1">
					<div class="frame-content">
						<li>
              <%= image_pack_tag 'avatar/avatar10.jpeg', class: 'story-image' %>
              <span>
                Jack
              </sp>
            </li>
            <li>
              <%= image_pack_tag 'avatar/avatar11.jpeg', class: 'story-image' %>
              <span>
                Benjamin
              </sp>
            </li>
            <li>
              <%= image_pack_tag 'avatar/avatar12.jpeg', class: 'story-image' %>
              <span>
                Anthony
              </sp>
            </li>
            <li>
              <%= image_pack_tag 'avatar/avatar13.jpeg', class: 'story-image' %>
              <span>
                Stephen
              </sp>
            </li>
            <li>
              <%= image_pack_tag 'avatar/avatar14.jpeg', class: 'story-image' %>
              <span>
                Home
              </sp>
            </li>
            <li>
              <%= image_pack_tag 'avatar/avatar15.jpeg', class: 'story-image' %>
              <span>
                Nick
              </sp>
            </li>
					</div>
				</div>
				<div class="frame frame_2">
					<div class="frame-content">
						<h2>Slide 2</h2>
					</div>
				</div>
				<div class="frame frame_3">
					<div class="frame-content">
						<h2>Slide 3</h2>
					</div>
				</div>
				<div class="frame frame_4">
					<div class="frame-content">
						<h2>Slide 4</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="controls">
		<label for="frame1"></label>
		<label for="frame2"></label>
		<label for="frame3"></label>
		<label for="frame4"></label>
	</div>
</div>
