<div class="home-container">
  <div class="row">
    <div class="col-7 news-container">
    
      <div class="row new-feed-container">
        <%= render 'home/stories'%>
      </div>

      <div class="row new-post-container">
        <% @posts.each do |post| %>
          <section class="new-post">
            <div class="user">
              <div class="avatar">
                <%= image_pack_tag 'avatar.jpg'%>
              </div>
              <div class="username">
                <%= post.user.username %>
              </div>
            </div>
            <%= image_tag post.image, class: 'main-image' %>
            <section class="post-actions navbar navbar-light d-flex justify-content-between">
              <span class="post-reacts">
                <a href="#">
                  <%= image_pack_tag 'homepage/like-btn.png'%>
                </a>
                <a href="#">
                  <%= image_pack_tag 'homepage/comment.png'%>
                </a>
                <a href="#">
                  <%= image_pack_tag 'homepage/send-btn.png'%>
                </a>
              </span>
              <a href="#">
                <%= image_pack_tag 'homepage/save-btn.png'%>
              </a>
            </section>
            <div class="post-like-records">
              14 likes
            </div>
            <div class="caption">
              <span style="font-weight: 600;">
                <%= post.user.username %>
              </span>
              <%= post.caption %>
            </div>
            <a href="#" style="text-decoration: none;">
              <div class="view-comment-btn">
                View all comments
              </div>
            </a>
            <div class="view-comment-btn" style="font-size: 12px">
              2 HOURS AGO
            </div>
          </section>
        <% end %>
        <%== pagy_nav(@pagy) %>
      </div>
    </div>

    <div class="col-5 suggestions-container">
      <div class="row suggestion-content">
        <div class="navbar d-flex justify-content-between">
          <div class="d-flex justify-content-start">
            <%if current_user.avatar.attached? %>  
              <%= image_tag current_user.avatar, class: 'm-2'%>
            <% else %>
              <%= image_pack_tag 'avatar/blank.jpeg', class: 'm-2' %>
            <% end %>
            <div class="d-flex justify-content-between align-items-center m-1" style="font-weight: bold; font-size: 14px;"> <%= current_user.username %> </div>
          </div>
          <button>
            Switch
          </button>
        </div>
      </div>
      <div class="suggestion-title mb-1">Suggestions for you</div>
      <div class="row suggestion-content">
        <ul class="suggestion-list">
          <li class="d-flex justify-content-between">
            <a href="#" class="d-flex justify-content-start">
              <%= image_pack_tag 'avatar/avatar16.jpeg' %>
              <div class="d-flex justify-content-between align-items-center m-1" style="font-weight: bold; font-size: 14px;"> truongxuan </div>
            </a>
            <button>
              Follow
            </button>
          </li>
          <li class="d-flex justify-content-between">
            <a href="#" class="d-flex justify-content-start">
              <%= image_pack_tag 'avatar/avatar15.jpeg' %>
              <div class="d-flex justify-content-between align-items-center m-1" style="font-weight: bold; font-size: 14px;"> kimphat12 </div>
            </a>
            <button>
              Follow
            </button>
          </li>
          <li class="d-flex justify-content-between">
            <a href="#" class="d-flex justify-content-start">
              <%= image_pack_tag 'avatar/avatar14.jpeg' %>
              <div class="d-flex justify-content-between align-items-center m-1" style="font-weight: bold; font-size: 14px;"> anthai </div>
            </a>
            <button>
              Follow
            </button>
          </li>
          <li class="d-flex justify-content-between">
            <a href="#" class="d-flex justify-content-start">
              <%= image_pack_tag 'avatar/avatar13.jpeg' %>
              <div class="d-flex justify-content-between align-items-center m-1" style="font-weight: bold; font-size: 14px;"> xuan.linh.22 </div>
            </a>
            <button>
              Follow
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
