<div class="post-show row">
  <div class="col-md-8">
    <%=image_tag @post.image, class: 'image' %>
  </div>
  <div class="col-md-4">
    <div class="user d-flex justify-content-between">
      <div class="post-modal-header d-flex">
        <div class="post-avatar">
          <% if @post.user.avatar.attached? %>
            <%= link_to show_user_path(@post.user.username) do %>
              <%= image_tag @post.user.avatar %>
            <% end %>
          <% end %>
        </div>
        <%= link_to @post.user.username, show_user_path(@post.user.username), class: 'post-username' %>
      </div>
      <div class="dropdown">
        <%= link_to '', id: 'dropdownMenuButton1', data: { 'bs-toggle': 'dropdown', 'aria-expanded': 'false' } do %>
          <%= image_pack_tag 'more.png' %>
        <% end %>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <% if @post.user.id == current_user.id %>
            <li><%= link_to 'Edit post', edit_post_path(@post), method: :get, class: 'dropdown-item', style: 'color: black; font-weight: bold' %></li>
            <li><%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item', style: 'color: red; font-weight: bold' %></li>
          <% end %>
          <li><%= link_to '...', '', class: 'dropdown-item' %></li>
        </ul>
      </div>
    </div>
    <div class="caption">
      <div class="post-avatar-small">
        <% if @post.user.avatar.attached? %>
          <%= link_to user_path(@post.user) do %>
            <%= image_tag @post.user.avatar %>
          <% end %>
        <% else %>
          <%= image_pack_tag 'avatar/blank,jpeg' %>
        <% end %>
      </div>
      <% @post.caption.to_s.split(' ').each do |word| %>
        <% if word.start_with?('#') %>
          <%= link_to word, search_path(query: word) %>
        <%else %>
          <%= word %>
        <%end %>
      <% end %>
    </div>
    <div class="comment-section">
    </div>
    <section class="post-actions navbar navbar-light d-flex justify-content-between">
      <div class="post-reacts">
        <%= render 'posts/reactions/reaction_btn', post: @post, style: 'display: inline-block;' %>
        <a href="">
          <%= image_pack_tag 'homepage/comment.png'%>
        </a>
        <a href="">
          <%= image_pack_tag 'homepage/send-btn.png'%>
        </a>
      </div>
      <a href="">
        <%= image_pack_tag 'homepage/save-btn.png'%>
      </a>
    </section>
    <div class="post-like-records">
      <span id="likes-count<%= @post.id %>" data-like-button-target="likeCount">
        <%= @post.likes_count %>
      </span>
      <% if @post.likes_count > 1 %>
        <div id="like-message<%= @post.id %>" style="display: inline-block;" data-like-button-target="likeMessage">likes</div>
      <% else %>
        <div id="like-message<%= @post.id %>" style="display: inline-block;" data-like-button-target="likeMessage">like</div>
      <% end %>
    </div>
    <div class="view-comment-btn" style="font-size: 12px">
      2 HOURS AGO
    </div>
  </div>
</div>
