<!DOCTYPE html>
<html>
  <head>
    <link rel="shotcut icon" href="https://cdn-icons-png.flaticon.com/128/1402/1402185.png">
    <title>Instagram</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-light d-flex justify-content-between">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="#">
            <img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png" alt="">
          </a>
        </div>
        <div class="m-auto">
          <form class="form-inline search-form">
            <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search">
          </form>
        </div>
        <div class="user-section d-flex">
          <a href="#">
            <%= image_pack_tag 'header/home.png'%>
          </a>
          <a href="#">
            <%= image_pack_tag 'header/messenger.png'%>
          </a>
          <a href="#">
            <%= image_pack_tag 'header/add.png'%>
          </a>
          <a href="#">
            <%= image_pack_tag 'header/compass.png'%>
          </a>
          <a href="#">
            <%= image_pack_tag 'header/heart.png'%>
          </a>
          <% if user_signed_in? %>
            <div class="dropdown">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="ava" width="24" height="24" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser">
                <li>
                  <a class="dropdown-item" href="#">Profile</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Saved</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Settings</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Switch Accounts</a>
                </li>
                <hr>
                <li>
                  <a class="dropdown-item" href="#">Log Out</a>
                </li>
              </ul>
            </div>
          <% else %>
            <a href="<%= new_user_session_path%>">
              <i>
                <%= image_pack_tag 'header/enter.png'%>
              </i>
            </a>
          <% end %>
        </div>
      </div>
    </nav>

    <!--Main content-->
    <main class="container" style="min-height: 500px;">
      <%= yield %>
    </main>
  </body>
</html>