<!DOCTYPE html>
<html>
  <head>
    <link rel="shotcut icon" href="https://cdn-icons-png.flaticon.com/128/1402/1402185.png">
    <title>Instagram</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= turbo_frame_tag "modal"%>
  </head>

  <body>
    <!--Navigation Bar-->
    <%= render 'layouts/header' unless @check %>
    <!--Main content-->
    <main class="container" style="min-height: 500px;">
      <%= yield %>
    </main>
    <div style="height: 100px;"></div>
  </body>
</html>
